body {
  background: #ffffff;
  font-family: "Lora", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.jumbotron,
.navbar {
  border-radius: 0px;
  background: rgb(236, 159, 185);
}

.nav-link::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 90%;
  left: 0;
  height: 3px;
  background: rgba(5, 74, 74, 0.8);
  transform: scaleX(0);
  transition: transform 0.35s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.top-text {
  font-size: 24px;
}

.nav-link {
  position: relative;
  padding: 10px 0;
  display: block;
  margin: 0 10px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.card {
  width: 47%;
  height: auto;
  margin: 5px;
  box-shadow: 0 2px 8px 0 rgb(129, 133, 133);
}

.card-title {
  letter-spacing: 1px;
}

.fa {
  margin: 0 10px;
}

.form-group {
  border: 1px solid teal;
  background: rgba(228, 166, 182, 0.4);
}

.btn {
  background: blueviolet !important;
  border-radius: 0;
  letter-spacing: 1px;
  padding: 8px px;
  color: aliceblue;
  box-shadow: 2px 4px 2px 0 rgba(5, 74, 74, 0.8);
}

.modal {
  height: 80vh;
  margin: 50px auto;
}

.modal-body,
.modal .form-group {
  border: 0;
  background: #ffffff;
}
