body {
  background: #ffffff;
  font-family: "Lora", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.jumbotron,
.navbar {
  border-radius: 0px;
  background: linear-gradient(to bottom, rgb(148, 203, 228), rgb(24, 51, 56));
}

.navbar {
  background: rgb(24, 51, 56);
  box-shadow: 2px 8px 8px 2px rgb(129, 133, 133);
}

.nav-link::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 90%;
  left: 0;
  height: 3px;
  background: rgba(249, 250, 250, 0.8);
  transform: scaleX(0);
  transition: transform 0.35s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.top-text {
  font-size: 24px;
}

.nav-link {
  position: relative;
  padding: 10px 0;
  display: block;
  margin: 0 10px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.card {
  width: 47%;
  height: auto;
  margin: 5px;
  box-shadow: 0 2px 8px 0 rgb(129, 133, 133);
}

.card-title {
  letter-spacing: 1px;
}

.fa {
  margin: 0 10px;
}

.form-group {
  background: rgb(248, 248, 248);
  box-shadow: 0 2px 8px 0 rgb(129, 133, 133);
}

.btn {
  background: blueviolet !important;
  border-radius: 0;
  letter-spacing: 1px;
  padding: 8px px;
  color: aliceblue;
  box-shadow: 0 2px 4px 1px rgb(129, 133, 133);
}

.modal {
  height: 80vh;
  margin: 50px auto;
}

.modal-body,
.modal .form-group {
  border: 0;
  background: #ffffff;
  box-shadow: none;
}
