html 
    head
        title="ishare backend server"
    body(style="background-color: #4158D0; background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); color: #f1f1f1;")
        h1(style="font-size:54px; position: absolute; top: 34%; left: 32%")="Ishare Backend Server"

