.card-body {
	font-size: 20px;
	font-family: "Nunito", "sans-serif";
}

.full-card {
	height: 100%;
}

@media only screen and (max-width: 960px) {
	div.full-card {
		width: 90% !important;
		padding: 1.6em !important;
	}

	.display-4 {
		font-size: 20px !important;
		font-weight: 400 !important;
	}

	.card-body {
		font-size: 16px !important;
	}
}
