.card {
	box-shadow: 2px 2px 8px -4px #777777;
	height: 230px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-header {
	font-size: 16px;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
}

.card-header,
.card-footer {
	background-color: inherit !important;
}

.card-text {
	font-size: 16px;
	font-family: "Nunito", sans-serif;
}
