.card {
	box-shadow: 4px 4px 16px -8px #888888;
}

.card-title {
	font-size: 20px;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
}

.card-text {
	font-size: 16px;
	font-family: "Nunito", sans-serif;
}
