nav.navbar {
	box-shadow: 4px 4px 16px -8px #444444;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

.navbar-brand {
	width: 100px;
	height: auto;
}

.profile-image {
	width: 4%;
	height: auto;
}

.fa-refresh {
	cursor: pointer;
}
