.navbar {
	box-shadow: 4px 4px 16px -8px #888888;
	font-family: "Montserrat", sans-serif;
}

.logo {
	width: 30%;
	height: auto;
}

.navbar-brand {
	width: 50%;
}

.profile-image {
	width: 4%;
	height: auto;
}
