nav.navbar {
	box-shadow: 4px 4px 16px -8px #444444;
	font-family: "Montserrat", sans-serif;
}

.navbar-brand {
	width: 100px;
	height: auto;
}

.profile-image {
	width: 4%;
	height: auto;
}

@media only screen and (max-width: 600px) {
	nav.navbar {
		margin-bottom: 20px !important;
	}
}
