.App {
	min-height: 100vh;
	background: #f8f8f8;
	padding-bottom: 80px;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

button {
	border-radius: 2px !important;
	box-shadow: 2px 2px 4px -1px #888888;
}
